# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
server/prisma/migrations/

# Misc
*.tsbuildinfo

# SQLite databases
*.db
*.db-journal
*.db-shm
*.db-wal

